@font-face {
  font-family: "My Font";
  src:
      url("fonts/cotta-free.otf")
      format("opentype");
      font-weight: normal;
      font-style: normal;
}

@font-face {
  font-family: "Blurb Font";
  src:
      url("fonts/Ranade-Regular.otf")
      format("opentype");
      font-weight: normal;
      font-style: normal;
}

.page-container {
  display: flex;
  background-color: #F9FAFB;
}

.background-container {
  position: static;
  width: 614px;
  height: 930px;
}

.background {
  height: inherit;
  position: absolute;
  z-index: 0;
  object-fit: cover;
  width: 614px;
}

.banner-container {
  position: relative;
  z-index: 3;
  top: 225px;
  height: 20px;
  width: min(614px, 614px);
  display: flex;
  justify-content: left;
}

.banner-strip {
  position: absolute;
  height: 150px;
  width: 614px;
  background-color: #0b0b0b;
  opacity: 0.5;
  z-index: 1;
}

.logo {
  height: 140px;
  width: inherit;
  left: 65px;
  filter: invert(100%);
  z-index: 1;
  position: absolute;
}

.banner-heading {
  position: absolute;
  font-family: "My Font", sans-serif;
  color: rgb(218, 217, 217);
  font-size: 64px;
  top: 45px;
  left: 175px;
  z-index: 2;
}

.blurb {
  font-family: "Blurb Font";
  font-size: 18px;
}

.blurb-2 {
  font-family: "Blurb Font";
  font-size: 18px;
  position: relative;
  left: 125px;
  top: 15px;
}

.blurb-container {
  position: relative;
  width: 700px;
  left: 125px;
  top: 125px;
}

.form-container {
  position: relative;
  top: 175px;
  background-color: #FFFFFF;
  filter: drop-shadow(2.5px 2.5px 2.5px rgb(203, 203, 203));
  height: 225px;
}

.right-hand-side {
  width: 1300px;
}

.label-text {
  font-family: "Blurb Font";
  font-size: 10px;
}

.row-1 {
  display: flex;
  width: 500px;
  justify-content: space-around;
  position: relative;
  left: 100px;
  bottom: 30px;
}

.first-name {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  top: 45px;
}

.last-name {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  top: 45px;
}

.row-2 {
  display: flex;
  width: 500px;
  height: 0px;
  justify-content: space-around;
  position: relative;
  left: 100px;
}

.email {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: relative;
  top: 32.5px;
}

.phone-number {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: relative;
  top: 32.5px;
}

.row-3 {
  display: flex;
  width: 500px;
  height: 0px;
  justify-content: space-around;
  position: relative;
  left: 100px;
}

.password {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: relative;
  top: 88px;
}

.confirm-password {
  display: flex;
  flex-direction: column;
  width: 200px;
  position: relative;
  top: 88px;
}

.input {
  -webkit-appearance: none;
  border: 2px solid #E5E7EB;
  border-radius: 3px;
}

.form-sign-up-separator {
  display: flex;
  flex-direction: column;
}

.sign-up {
  position: relative;
  top: 180px;
}

.login {
  display: flex;
}

.submit-button {
  background-color: #304B2A;
  color:#F9FAFB;
  font-weight: bold;
  font-family: "Blurb Font";
  width: 180px;
  height: 40px;
  position: relative;
  left: 130px;
  border: none;
  border-radius: 7px;
}

.submit-button:hover {
  background-color: #22301f;
}

.submit-button:active {
  background-color: #0b0b0b;
}

.account {
  font-family: "Blurb Font";
  font-weight: bold;
  position: relative;
  left: 125px;
  top: 15px;
}

.link {
  font-family: "Blurb Font";
  color: #304B2A;
  position: relative;
  left: 130px;
  top: 15px;
}

.input:focus {
  -webkit-appearance: none;
  border: 2px solid #809fed;
  border-radius: 3px;
  outline: none;
  box-shadow: 1px 1px 3px #545455;
}

a:visited {
  color: #304B2A;
}